{% extends "base.html" %}

{% block css %}
<link href="/static/plug/select2/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block  breadcrumb_big %}
主机管理
{% endblock %}

{% block  breadcrumb_small %}
主机信息
{% endblock %}

{% block  content %}
<!-- Advanced Tables -->
<div class="panel panel-default">
    <div class="panel-heading">
        主机信息
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-1">
                <form role="form" id="updateForm">
                    <input type="hidden"  name="id" value="{{ host.id }}">
                    <div class="form-group">
                        <label>主机名：</label>
                        <input class="form-control" name="hostanme" value="{{host.hostname}}">
                    </div>
                    <div class="form-group">
                        <label>公网IP：</label>
                        <input class="form-control" name="public_ip" value="{{host.public_ip}}">
                    </div>
                    <div class="form-group">
                        <label>内网IP：</label>
                        <input class="form-control" name="local_ip" value="{{host.local_ip}}">
                    </div>
                    <div class="form-group">
                        <label>系统：</label>
                        <input class="form-control" name="system" value="{{host.system }}" disabled="disabled">
                    </div>
                    <div class="form-group">
                        <label>CPU：</label>
                        <input class="form-control" name="cpus" value="{{host.cpus}}" disabled="disabled">
                    </div>
                    <div class="form-group">
                        <label>内存：</label>
                        <input class="form-control" name="memory" value="{{host.memory}}" disabled="disabled">
                    </div>
                    <div class="form-group">
                        <label>磁盘：</label>
                        <input class="form-control" name="disk" value="{{host.disk}}" disabled="disabled">
                    </div>
                    <div class="form-group">
                        <label>标签：</label>
                        <select class="form-control" name="tags" multiple="multiple" id="tags">
                            {% for tag in tags %}
                                <option value="{{ tag.id }}" {% if tag.id in hostags %} selected="selected" {%endif%}>{{ tag.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="form-group text-center">
                    <button class="btn btn-default" id="upinfobtn">修改</button>
                    <button type="reset" class="btn btn-default">重置</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="/static/plug/select2/js/select2.min.js"></script>>

<script>
$('#tags').select2();

$("#upinfobtn").on("click",function(){
    $.post("/assets/hostinfo", $("#updateForm").serialize(), function(data){
        data = JSON.parse(data)
        console.log(data)
        location.href=data['next']
    })
    return false
})
</script>
{% endblock %}