{% extends "base.html" %}
{% import "_macors.html" as macors %}

{% block  breadcrumb_big %}
用户管理
{% endblock %}

{% block  breadcrumb_small %}
用户列表
{% endblock %}

{% block  content %}
<!-- Advanced Tables -->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">
                用户列表
            </div>
            <div class="col-md-6 text-right">
                <a type="button" class="btn btn-primary" href="{{ url_for('users.useradd') }}">添加用户</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th class="text-center">用户名</th>
                        <th class="text-center">中文名</th>
                        <th class="text-center">角色</th>
                        <th class="text-center">电话</th>
                        <th class="text-center">邮箱</th>
                        <th class="text-center">状态</th>
                        {% if current_user.role == 'ADMIN' %}
                            <th class="text-center">操作</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for userinfo in pagination.items %}
                        <tr class="gradeX">
                            <th class="text-center">{{userinfo.username}}</th>
                            <th class="text-center">{{userinfo.name_cn}}</th>
                            <th class="text-center">{{userinfo.role}}</th>
                            <th class="text-center">{{userinfo.phone}}</th>
                            <th class="text-center">{{userinfo.email}}</th>
                            {% if userinfo.status == True %}
                                <th class="text-center text-success" id="{{ userinfo.id}}">启用</th>
                                {% else %}
                                <th class="text-center text-danger" id="{{ userinfo.id}}">禁用</th>
                            {% endif %}
                            
                            {% if current_user.role == 'ADMIN' %}
                                <th class="text-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary btn-xs" onclick="window.location.href='{{url_for("users.userinfo", uid=userinfo.id)}}'">编辑</button>
                                        <button data-id="{{ userinfo.id }}" type="button" class="btn btn-primary dropdown-toggle btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            {% if userinfo.status == True %}
                                                <li><a href="javascript:void(0);" onclick="status(this, {{ userinfo.id }}, 0)">禁用</a></li>
                                            {% else %}
                                                <li><a href="javascript:void(0);" onclick="status(this, {{ userinfo.id }}, 1)">启用</a></li>
                                            {% endif %}
                                            <li><a href="javascript:void(0);" data-id="{{ userinfo.id }}" onclick="showPasswdModal(this)">修改密码</a></li>
                                        </ul>
                                    </div>
                                    <button data-id="{{ userinfo.id }}" data-name="{{ userinfo.username }}" type="button" class="btn btn-danger btn-xs" onclick="showDeleteModal(this)" {% if userinfo.username == "admin"%} disabled="disabled" {% endif %}>删除</button>
                                </th>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class='row'>
                <div class="col-md-12 text-right">
                    {{ macors.pagination_widget(pagination, "users.userlist") }}
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Change Password Modal -->
<div class="modal fade" id="PasswdModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">修改密码：</h4>
                </div>
                <form role="form" id="PasswdForm">
                    <div class="modal-body">
                        
                        <input type="hidden"  name="id" id="passwdid">
                        <div class="form-group">
                            <div class='row'>
                            <div class='col-md-6'>
                            <label>新密码：</label>
                            <input type="password" class="form-control" name="password1" data-rule="密码: required;password;">
                            </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class='row'>
                            <div class='col-md-6'>
                            <label>确认密码：</label>
                            <input type="password" class="form-control" name="password2" data-rule="确认密码: match(password1);">
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="ChangePasswd">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- delete user modal -->
<div class="modal fade bs-example-modal-sm" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">删除用户：</h4>
        </div>
        <form role="form" id="DeleteForm">
            <div class="modal-body">
                <input type="hidden" name="id" id="userid">
                <h3 id="deleteModalLabel" class="text-danger"></h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" id="Delete">确认</button>
            </div>
        </form>
    </div>
  </div>
</div>

{% endblock  content %}

{% block js%}
<script src="/static/plug/validator/jquery.validator.js?local=zh-CN"></script>
<script>
function status(obj, uid, status){
    $.post('/users/userstatus', {id: uid, status: status}, function(data){
        data = JSON.parse(data)
        if(data["status"]==true){
            $("#"+data['id']).html("启用").attr("class", "text-center text-success")
            $(obj).html("禁用").attr('onclick', "status(this, "+data['id']+", 0)")
        }else{
            $("#"+data['id']).html("禁用").attr("class", "text-center text-danger")
            $(obj).html("启用").attr('onclick', "status(this, "+data['id']+", 1)")
        }
    })
}

function showPasswdModal(obj){
    var id=$(obj).attr("data-id")
    $("#passwdid").val(id)
    $('#PasswdModal').modal('show')
}

function showDeleteModal(obj){
    var id=$(obj).attr("data-id")
    var name=$(obj).attr("data-name")
    $('#userid').val(id)
    $("#deleteModalLabel").text("确认删除用户: " + name + " ?")
    $('#DeleteModal').modal('show')
}

$("#ChangePasswd").on("click",function(){
    $.post("/users/changepasswd", $("#PasswdForm").serialize(), function(data){
        data = JSON.parse(data)
        location.href=data['next']
    })
    return false
})

$("#Delete").on("click",function(){
    $.post("/users/delete", $("#DeleteForm").serialize(), function(data){
        data = JSON.parse(data)
        location.href=data['next']
    })
    return false
})

</script>
{% endblock %}